// variables.scss

// Typography
$base-font-family : 'Roboto',
sans-serif;
$logo-font-family : 'Shrikhand',
cursive;

$base-font-weight : 400;
$light-font-weight: 300;
$medium-font-weight: 500;
$bold-font-weight: 700;

$base-font-size: 16px;

$logo-font-size: 1.875rem;

$h1-font-size: 1.75rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.125rem;

$l-paragraph-font-size: 1.125rem;
$m-paragraph-font-size: 1.063rem;
$s-paragraph-font-size: 0.938rem;

// Color
$base-font: #000;
$base-color: #FFF;
$grey-1: #353535;
$grey-2: #EAEAEA;
$grey-bg: #F6F6F6;
$purple :#9356DC;
$pink: #FF79DA;
$green-font: #008766;
$green: #99E2D0;

// Gap
$gap-1: 40px;
$gap-2: 18px;
$gap-3: 16px;
$gap-4: 12px;
$gap-5: 7px;


// Padding
$p-1: 17px;
$p-2: 15px;
$p-3: 10px;

$l-btn-p: 18px 13px;
$m-btn-p: 48px 16px;

$footer-p : 22px 25px;