// base.scss

// Import typography file
@import "../base/typography";

// Import variables file
@import "../utils/variables";

// Import mixins file
@import "../utils/mixins";

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  overflow-x: hidden;

  body {
    @include column;
    justify-content: center;
    min-width: 320px;
    width: 100%;
    color: $base-font;
    overflow-x: hidden;
  }
}

.main-container {
  @include column;
  align-items: center;
  background-color: $grey-bg;
  main {
    font-family: $base-font-family;
  }

  header,
  main,
  footer {
    width: 100%;
    @media screen and (min-width: 1440px) and (max-width: 2560px) {
      width: 1440px;
      box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.15),
        3px 0px 3px rgba(0, 0, 0, 0.15);
    }
  }

  section {
    width: 100%;
  }
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
}

a {
  color: $base-font;
  text-decoration: none;
}
