// base.scss

// Import typography file
@import "../base/typography";

// Import variables file
@import "../utils/variables";

// Import mixins file
@import "../utils/mixins";

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  overflow-x: hidden;

  body {
    @include column;
    justify-content: center;
    min-width: 320px;
    width: 100%;
    color: $base-font;
    overflow-x: hidden;
  }
}

main {
  font-family: $base-font-family;

  section {
    width: 100%;
  }
}

h1 {
  margin: 0;
}

a {
  color: $base-font;
  text-decoration: none;
}
