// mixins.scss

// Flex Layout Mixins:
@mixin center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin dimensions($height, $width) {
  height: $height;
  width: $width;
}

// Styles Mixins:

// Buttons mixins :
@mixin btn-style {
  background: linear-gradient(to top, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

// Style lightening in hover
@mixin btn-active-hover-style {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0.15) 100%
    ),
    linear-gradient(to top, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

// Heart icons style :
@mixin icon-full-style {
  background: linear-gradient(to bottom, #9356dc -5.2%, #ff79da 110.74%);
}

// Step et dish card shadow :
@mixin box-shadow-card {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

// Dish card text :
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin media-query($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin media-queries($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}

// Animation and Transition Mixins:

// Toggle animation for the loader
@mixin toggle(
  $animation-name,
  $opacity-start-value: 0,
  $opacity-end-value: 1,
  $duration,
  $timing-function: ease,
  $delay: 2s,
  $fill-mode: forwards
) {
  @keyframes #{$animation-name} {
    0% {
      opacity: $opacity-start-value;
    }
    100% {
      opacity: $opacity-end-value;
    }
  }

  animation: #{$animation-name} $duration $timing-function $delay $fill-mode;
}

// Home page loader animation
@mixin rotate(
  $animation-name,
  $degrees-start-value,
  $degrees-end-value,
  $duration: 3s,
  $timing-function: cubic-bezier(0.26, 1.36, 0.74, -0.29),
  $iteration-count: infinite
) {
  @keyframes #{$animation-name} {
    0% {
      transform: rotate(#{$degrees-start-value}deg);
    }
    100% {
      transform: rotate(#{$degrees-end-value}deg);
    }
  }

  animation: #{$animation-name} $duration $timing-function $iteration-count;
}

//Menu pages parts fade-in
@mixin fade-in(
  $animation-name: fade-in,
  $duration,
  $timing-function: ease,
  $delay: 0s,
  $fill-mode: forwards
) {
  @keyframes #{$animation-name} {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  animation: #{$animation-name} $duration $timing-function $delay $fill-mode;
}

@mixin transition-properties(
  $property,
  $duration: 0.3s,
  $timing-function: ease
) {
  transition: $property $duration $timing-function;
}

// Home page step__content__icon transition
@mixin icons-color-transition(
  $transition-name: color,
  $duration: 0.2s,
  $timing-function: ease
) {
  transition: $transition-name $duration $timing-function;
}

//Home and menu pages heart icon transition
@mixin heart-color-transition(
  $transition-name: opacity,
  $duration: 0.75s,
  $timing-function: ease
) {
  transition: $transition-name $duration $timing-function;
}
