// variables.scss

// Color
$base-font: #000;
$base-color: #fff;
$grey-1: #353535;
$grey-2: #eaeaea;
$grey-3: #7e7e7e;
$grey-bg: #f6f6f6;
$primary: #9356dc;
$secondary: #ff79da;
$green-font: #008766;
$tertiary: #99e2d0;
$button-gradient: linear-gradient(355deg, #9356dc -15.2%, #ff79da 90.74%);
$icon-gradient: linear-gradient(to bottom, #9356dc -5.2%, #ff79da 110.74%);

// Gap
$gap-1: 40px;
$gap-2: 25px;
$gap-3: 18px;
$gap-4: 17px;
$gap-5: 16px;
$gap-6: 12px;
$gap-7: 7px;
$gap-8: 5px;

// Margin
$m-1: 30px;
$m-2: 20px;
$m-3: 10px;
$m-4: 8px;

// Padding
$p-1: 30px;
$p-2: 17px;
$p-3: 15px;
$p-4: 13px;
$p-5: 10px;

$p-logo: 14px 89px;

$p-section-s: 48px 20px 68px 20px;
$p-section-m: 50px 100px 50px 100px;
$p-section-l: 30px 180px;

$p-footer: 22px 25px;
$p-footer-l: 30px 25px;

// Border-radius
$border-radius-l: 25px;
$border-radius-m: 20px;
$border-radius-s: 15px;
