//components.scss

// button
button {
  @include center-element;
  width: 218px;
  height: 50px;
  margin-bottom: $m-1;
  border-radius: 24px;
  background: $button-gradient;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;

  a {
    text-decoration: none;
    color: white;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $medium-font-weight;
  }
}

// card step home
.step {
  position: relative;
  display: flex;
  align-items: center;
  height: 73px;
  margin-left: 12px;
  padding: 24px 36px;
  border-radius: 20px;
  background: $base-color;
  @include box-shadow-card;
  span {
    position: absolute;
    left: -12px;
    @include center-element;
    width: 24px;
    height: 24px;
    font-size: $xs-font-size;
    background-color: $purple;
    border-radius: 50%;
    color: $base-color;
  }
  .step-content {
    display: flex;
    gap: $gap-2;

    i {
      font-size: $l-font-size;
      color: $grey-3;
    }
    p {
      font-weight: 500;
    }
  }
}

// card restaurant home
.restaurant-card {
  @include column;
  a {
    @include column;
    gap: 16px;
    border-radius: 15px;
    background-color: $base-color;

    .card-img {
      position: relative;
      height: 174px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      overflow: hidden;

      img {
        object-fit: cover;
        height: 174px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      span {
        position: absolute;
        @include center-element;
        width: 80px;
        height: 29px;
        top: 12px;
        right: 12px;
        background-color: $green;
        color: $green-font;
        border-radius: 2px;
      }
    }
    .card-body {
      display: flex;
      align-items: center;
      padding-bottom: 13px;
      height: 61px;
      .card-header {
        padding: 0 13px;
        width: 80%;

        p {
          font-size: $m-font-size;
        }
      }
    }
    .card-icons {
      display: flex;
      justify-content: center;
      width: 20%;
    }
  }
}

// purple heart icons
.favorites-icons {
  > * {
    font-size: 21px;
  }
  .empty-heart {
    position: absolute;
  }
  .full-heart {
    position: relative;
    background: $icon-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
}
