//components.scss

// General styles

// button for the home page section app-introduction and for the menu pages form
.btn {
  @include center-element;
  height: 50px;
  margin-bottom: $m-1;
  background: $button-gradient;
  @include box-shadow-btn;
  border: none;
  border-radius: $border-radius-l;

  &.btn-large {
    width: 218px;
  }
  &.btn-medium {
    width: 186px;
  }

  a {
    text-decoration: none;
    color: white;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $medium-font-weight;
  }
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  gap: $gap-8;
}

// heart icons
.favorites-icons {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;

  > * {
    font-size: 21px;
  }
  // relative and absolute position to put the full heart on the empty heart
  .empty-heart {
    position: relative;
  }
  .full-heart {
    position: absolute;
    background: $icon-gradient;
    color: transparent;
    // added background-clip and text-fill-color properties to have an icon with a gradient background
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
