// _variables.scss

// Typography
$base-font-family: "Roboto", sans-serif;
$logo-font-family: "Shrikhand", cursive;

$base-font-weight: 400;
$light-font-weight: 300;
$medium-font-weight: 500;
$bold-font-weight: 700;

$base-font-size: 16px;

$logo-font-size: 1.875rem;

$h1-font-size: 1.75rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.125rem;

$l-font-size: 1.125rem;
$m-font-size: 1.063rem;
$s-font-size: 0.938rem;
$xs-font-size: 0.875rem;

// Color
$base-font: #000;
$base-color: #fff;
$grey-1: #353535;
$grey-2: #eaeaea;
$grey-3: #7e7e7e;
$grey-bg: #f6f6f6;
$purple: #9356dc;
$pink: #ff79da;
$green-font: #008766;
$green: #99e2d0;
$button-gradient: linear-gradient(355deg, #9356dc -5.2%, #ff79da 110.74%);
$icon-gradient: linear-gradient(to bottom, #9356dc -5.2%, #ff79da 110.74%);

// Gap
$gap-1: 40px;
$gap-2: 25px;
$gap-3: 18px;
$gap-4: 17px;
$gap-5: 16px;
$gap-6: 12px;
$gap-7: 7px;
$gap-8: 5px;

// Margin
$m-1: 30px;
$m-2: 20px;
$m-3: 10px;
$m-4: 8px;

// Padding
$p-1: 30px;
$p-2: 17px;
$p-3: 15px;
$p-4: 10px;

$p-logo: 14px 89px;

$p-l-btn: 18px 13px;
$p-m-btn: 48px 16px;

$p-section: 48px 20px 68px 20px;

$p-footer: 22px 25px;
