// base.scss
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
    width: 100%;
    color: $base-font;
    overflow-x: hidden;
  }
}

main {
  font-family: $base-font-family;

  section {
    width: 100%;
  }
}

a {
  color: $base-font;
  text-decoration: none;
}
