// buttons.scss

// Import typography file
@import "../base/typography";

// Import variables file
@import "../utils/variables";

// Import mixins file
@import "../utils/mixins";

// button for the home page section app-introduction and for the menu pages form
.btn {
  @include center-element;
  @include dimensions(50px, auto);
  margin-bottom: 27px;
  cursor: pointer;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $medium-font-weight;
  @include btn-style;
  color: white;
  border: none;
  border-radius: $border-radius-l;

  &:active,
  &:hover {
    @include btn-active-hover-style;
  }

  // Home page
  &.btn-large {
    @include dimensions(50px, 218px);

    @include media-query(1024px) {
      margin: 0;
    }
  }

  // Menu page
  &.btn-medium {
    @include dimensions(50px, 186px);

    @include media-query(768px) {
      margin-bottom: 40px;
    }
  }
}
