// icons.scss

// Import typography file
@import "../base/typography";

// Import variables file
@import "../utils/variables";

// Import mixins file
@import "../utils/mixins";

.heart__icons {
  @include center-element;
  @include dimensions(100%, 20%);

  .heart__icon {
    font-size: 21px;
  }

  // relative and absolute position to put the full heart on the empty heart
  .heart__icon-empty {
    position: relative;
  }

  .heart__icon-full {
    position: absolute;
    @include icon-style;
    color: transparent;
    // added background-clip and text-fill-color properties to have an icon with a gradient background
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
