// icons.scss

// Import typography file
@import "../base/typography";

// Import variables file
@import "../utils/variables";

// Import mixins file
@import "../utils/mixins";

// heart icons
.favorites-icons {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;

  > * {
    font-size: 21px;
  }

  // relative and absolute position to put the full heart on the empty heart
  .empty-heart {
    position: relative;
  }

  .full-heart {
    position: absolute;
    background: $icon-gradient;
    color: transparent;
    // added background-clip and text-fill-color properties to have an icon with a gradient background
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
