// footer.scss

// Import typography file
@import "../base/typography";

// Import variables file
@import "../utils/variables";

// Import mixins file
@import "../utils/mixins";

.app-footer {
  padding: $p-footer;
  background-color: $grey-1;
  color: $base-color;

  .footer__logo {
    font-family: $title-font-family;
    font-size: $h3-font-size;
    font-weight: $medium-font-weight;
  }

  .footer__links__container {
    display: flex;
    flex-direction: column;
    gap: $gap-7;
    list-style: none;

    .footer__link {
      .footer__link-inner {
        display: flex;
        gap: $gap-6;
        font-family: $base-font-family;
        font-size: $base-font-size;
        font-weight: $medium-font-weight;
        color: $base-color;

        .footer__icon {
          display: flex;
          width: 11.918px;
          height: 13px;
          font-size: $xs-font-size;
        }
      }
    }
  }
}
