// footer.scss

// Import typography file
@import "../base/typography";

// Import variables file
@import "../utils/variables";

// Import mixins file
@import "../utils/mixins";

.app-footer {
  @include column;
  justify-content: flex-end;
  padding: $p-footer;
  background-color: $grey-1;
  color: $base-color;

  @include media-query(768px) {
    padding: $p-footer-l;
  }

  @include media-queries(1440px, 2560px) {
    @include dimensions(114px, auto);
  }

  .footer__container {
    @include column;
    @include dimensions(auto, 100%);
    gap: $gap-7;
    @include media-query(768px) {
      gap: 16px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    @include media-queries(1440px, 2560px) {
      // footer elements inversion
      flex-direction: row-reverse;
      justify-content: flex-start;
    }

    .footer__logo__container {
      display: flex;
      justify-content: flex-start;
      @include dimensions(auto, 138px);
      .footer__logo {
        // logo image color inversion, black to white
        filter: invert(1);
        @include dimensions(100%, 75%);

        @include media-query(768px) {
          @include dimensions(auto, 90%);
        }
      }
    }

    .footer__links__container {
      @include column;
      list-style: none;
      gap: $gap-7;

      @include media-query(768px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        @include dimensions(auto, 100%);
      }
      @include media-query(1024px) {
        @include dimensions(auto, min-content);
      }
    }
  }
  .footer__link-group {
    @include column;
    gap: $gap-7;
    @include media-query(768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      @include dimensions(auto, 100%);
      // preventing passage to the next line of footer links
      text-wrap: nowrap;
    }
    @include media-query(1024px) {
      justify-content: flex-start;
    }
  }

  //  specific styles for the links with an icon
  .footer__link-iconed-group {
    .footer__link {
      .footer__link-inner {
        font-weight: $medium-font-weight;

        .footer__text {
          @include media-queries(1440px, 2560px) {
            @include dimensions(auto, 168px);
          }
        }
      }
    }
  }

  .footer__link {
    .footer__link-inner {
      display: flex;
      gap: $gap-6;
      font-family: $base-font-family;
      font-size: $base-font-size;
      font-weight: $base-font-weight;
      color: $base-color;

      .footer__icon {
        display: flex;
        @include dimensions(13px, 11.918px);
        font-size: $xs-font-size;
      }
      .footer__text {
        @include media-queries(1440px, 2560px) {
          @include dimensions(auto, 130px);
        }
      }
    }
  }
}
