//header.scss

// Import typography file
@import "../base/typography";

// Import variables file
@import "../utils/variables";

// Import mixins file
@import "../utils/mixins";

.app-header {
  // confederate .header__back-arrow
  position: relative;

  .header__logo__container {
    @include center-element;
    @include dimensions(63px, auto);
    background-color: $base-color;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);

    @include media-query(768px) {
      height: 75px;
    }

    @include media-query(1024px) {
      height: 96px;
    }

    .header__logo {
      @include dimensions(44px, 162px);

      @include media-query(1024px) {
        @include dimensions(auto, 200px);
      }
    }
    .header__logo-desktop {
      display: none;

      @include media-query(1024px) {
        display: block;
      }
    }
    .header__logo-mobile {
      @include media-query(1024px) {
        display: none;
      }
    }
  }
}

// icon for the homepage
.header__location__container {
  @include center-element;
  @include dimensions(50px, auto);
  gap: $gap-4;
  cursor: pointer;
  font-family: $base-font-family;
  font-weight: $medium-font-weight;
  color: $grey-1;
  background-color: $grey-2;
}

// icon for the menu pages
.header__back-arrow {
  // absolute position to let the logo be centered in the header
  position: absolute;
  left: 17px;
  @include dimensions(auto, 30px);
  color: $grey-1;
  .header__back-arrow-icon {
    font-size: 25px;
  }
}
