@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*,
::after,
::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  appearance: button;
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  appearance: textfield;
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl,
ol,
ul {
  margin: 1em 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: auto;
  margin-bottom: 27px;
  cursor: pointer;
  background: linear-gradient(to top, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 25px;
}
.btn:active, .btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(to top, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.btn.btn-large {
  height: 50px;
  width: 218px;
}
@media screen and (min-width: 1024px) {
  .btn.btn-large {
    margin: 0;
  }
}
.btn.btn-medium {
  height: 50px;
  width: 186px;
}
@media screen and (min-width: 768px) {
  .btn.btn-medium {
    margin-bottom: 40px;
  }
}
.btn a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.heart__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
}
.heart__icons .heart__icon {
  font-size: 21px;
}
.heart__icons .heart__icon-empty {
  position: relative;
}
.heart__icons .heart__icon-full {
  position: absolute;
  background: linear-gradient(to bottom, #9356dc -5.2%, #ff79da 110.74%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}
html body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  width: 100%;
  color: #000;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
.main-container main {
  font-family: "Roboto", sans-serif;
}
.main-container header,
.main-container main,
.main-container footer {
  width: 100%;
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .main-container header,
  .main-container main,
  .main-container footer {
    width: 1440px;
    box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.15), 3px 0px 3px rgba(0, 0, 0, 0.15);
  }
}
.main-container section {
  width: 100%;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.app-header {
  position: relative;
}
.app-header .header__logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  width: auto;
  background-color: #fff;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .app-header .header__logo__container {
    height: 75px;
  }
}
@media screen and (min-width: 1024px) {
  .app-header .header__logo__container {
    height: 96px;
  }
}
.app-header .header__logo__container .header__logo {
  height: 44px;
  width: 162px;
}
@media screen and (min-width: 1024px) {
  .app-header .header__logo__container .header__logo {
    height: auto;
    width: 200px;
  }
}
.app-header .header__logo__container .header__logo-desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .app-header .header__logo__container .header__logo-desktop {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .app-header .header__logo__container .header__logo-mobile {
    display: none;
  }
}

.header__location__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: auto;
  gap: 17px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #353535;
  background-color: #eaeaea;
}

.header__back-arrow {
  position: absolute;
  left: 17px;
  height: auto;
  width: 30px;
  color: #353535;
}
.header__back-arrow .header__back-arrow-icon {
  font-size: 25px;
}

.app-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 22px 25px;
  background-color: #353535;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .app-footer {
    padding: 30px 25px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .app-footer {
    height: 114px;
    width: auto;
  }
}
.app-footer .footer__container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  gap: 7px;
}
@media screen and (min-width: 768px) {
  .app-footer .footer__container {
    gap: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .app-footer .footer__container {
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}
.app-footer .footer__container .footer__logo__container {
  display: flex;
  justify-content: flex-start;
  height: auto;
  width: 138px;
}
.app-footer .footer__container .footer__logo__container .footer__logo {
  filter: invert(1);
  height: 100%;
  width: 75%;
}
@media screen and (min-width: 768px) {
  .app-footer .footer__container .footer__logo__container .footer__logo {
    height: auto;
    width: 90%;
  }
}
.app-footer .footer__container .footer__links__container {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 7px;
}
@media screen and (min-width: 768px) {
  .app-footer .footer__container .footer__links__container {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .app-footer .footer__container .footer__links__container {
    height: auto;
    width: min-content;
  }
}
.app-footer .footer__link-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 768px) {
  .app-footer .footer__link-group {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 100%;
    text-wrap: nowrap;
  }
}
@media screen and (min-width: 1024px) {
  .app-footer .footer__link-group {
    justify-content: flex-start;
  }
}
.app-footer .footer__link-iconed-group .footer__link .footer__link-inner {
  font-weight: 500;
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .app-footer .footer__link-iconed-group .footer__link .footer__link-inner .footer__text {
    height: auto;
    width: 168px;
  }
}
.app-footer .footer__link .footer__link-inner {
  display: flex;
  gap: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.app-footer .footer__link .footer__link-inner .footer__icon {
  display: flex;
  height: 13px;
  width: 11.918px;
  font-size: 0.875rem;
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .app-footer .footer__link .footer__link-inner .footer__text {
    height: auto;
    width: 130px;
  }
}

.app-introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  background-color: #f6f6f6;
}
@media screen and (min-width: 1024px) {
  .app-introduction {
    gap: 18px;
    padding: 30px 180px;
  }
}
.app-introduction .app-introduction__title {
  font-size: 1.5rem;
  padding: 12px 24px;
}
@media screen and (min-width: 768px) {
  .app-introduction .app-introduction__title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .app-introduction .app-introduction__title {
    font-size: 2.5rem;
    padding: 0;
    margin-bottom: 10px;
    line-height: 1.25;
  }
}
.app-introduction .app-introduction__text {
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  .app-introduction .app-introduction__text {
    margin-bottom: 10px;
  }
}

.app-steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 48px 20px 68px 20px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .app-steps {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 100px 50px 100px;
  }
}
@media screen and (min-width: 1024px) {
  .app-steps {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .app-steps {
    padding: 50px 180px;
  }
}
.app-steps .app-steps__steps-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .app-steps .app-steps__steps-container {
    height: auto;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .app-steps .app-steps__steps-container {
    flex-direction: row;
  }
}

.step {
  position: relative;
  display: flex;
  align-items: center;
  height: 73px;
  width: auto;
  margin-left: 12px;
  padding: 24px 36px;
  cursor: pointer;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.step:active .step__content__icon, .step:hover .step__content__icon {
  color: #9356dc;
  transition: color 0.2s ease;
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .step {
    text-wrap: nowrap;
  }
}
.step .step:active .step__content__icon,
.step .step:hover .step__content__icon {
  color: #9356dc;
  transition: color 0.2s ease;
}
.step .step__number {
  position: absolute;
  left: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  font-size: 0.875rem;
  background-color: #9356dc;
  border-radius: 50%;
  color: #fff;
}
.step .step__content {
  display: flex;
  gap: 25px;
  height: 100%;
  width: auto;
  align-items: center;
}
.step .step__content .step__content__icon {
  align-self: flex-start;
  line-height: 1.15;
  font-size: 1.125rem;
  color: #7e7e7e;
  transition: color 0.2s ease;
}
.step .step__content .step__content__text {
  font-weight: 500;
}

.step:active .step__content__icon,
.step:hover .step__content__icon {
  color: #9356dc;
  transition: color 0.2s ease;
}

.app-restaurants {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 48px 20px 68px 20px;
  background: #f6f6f6;
}
@media screen and (min-width: 768px) {
  .app-restaurants {
    padding: 50px 100px 50px 100px;
    align-items: center;
    gap: 28px;
  }
}
@media screen and (min-width: 1024px) {
  .app-restaurants {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .app-restaurants {
    padding: 30px 180px;
  }
}
.app-restaurants .restaurants-card__container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media screen and (min-width: 768px) {
  .app-restaurants .restaurants-card__container {
    width: 80%;
    gap: 34px;
  }
}
@media screen and (min-width: 1024px) {
  .app-restaurants .restaurants-card__container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    height: auto;
    width: 100%;
    justify-content: space-between;
  }
}
.app-restaurants .restaurant-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
@media screen and (min-width: 1024px) {
  .app-restaurants .restaurant-card {
    height: auto;
    width: calc(50% - 50px);
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .app-restaurants .restaurant-card {
    height: auto;
    width: 490px;
  }
}
.app-restaurants .restaurant-card a {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #fff;
}

.card__img {
  position: relative;
  height: 170px;
  width: auto;
  background-color: #eaeaea;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .card__img {
    height: 200px;
    width: auto;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .card__img {
    height: 231px;
    width: auto;
  }
}
.card__img img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card__img .card__img__badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 29px;
  width: 80px;
  top: 12px;
  right: 12px;
  font-weight: 500;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
}

.card__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  padding: 15px;
  gap: 5px;
}
.card__body .card__body__header {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  gap: 5px;
}
.card__body .card__body__header h3 {
  font-size: 1.125rem;
}
.card__body .card__body__header p {
  font-size: 1.063rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.menu__img {
  height: 60vh;
  width: 100%;
  background-color: #eaeaea;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .menu__img {
    height: 490px;
    width: 100%;
  }
}
.menu__img img {
  display: none;
}

.img-la-palette-du-gout {
  background-image: url("../pictures/restaurants/la-palette-du-gout.jpg");
}

.img-le-delice-des-sens {
  background-image: url("../pictures/restaurants/le-delice-des-sens.jpg");
}

.img-la-note-enchantee {
  background-image: url("../pictures/restaurants/la-note-enchantee.jpg");
}

.img-a-la-francaise {
  background-image: url("../pictures/restaurants/a-la-francaise.jpg");
}

.menu__body {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  gap: 40px;
  margin-top: -48px;
  background-color: #f6f6f6;
  border-radius: 40px;
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .menu__body {
    height: auto;
    width: 75%;
  }
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 17px 0 17px;
}
@media screen and (min-width: 768px) {
  .menu__header {
    justify-content: center;
    gap: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .menu__header {
    padding: 0;
    padding-top: 51px;
  }
}
.menu__header .menu__title {
  text-align: center;
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
}
@media screen and (min-width: 768px) {
  .menu__header .menu__icons {
    height: auto;
    width: auto;
  }
}

.menu__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 13px;
  /******************************************/
}
@media screen and (min-width: 768px) {
  .menu__content {
    padding: 0 150px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .menu__content {
    padding: 0 220px;
  }
}
.menu__content .menu__section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.menu__content .menu__order-btn {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Fade-in animation for the entries section */
@keyframes fade-in-1 {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Fade-in animation for the dishes section */
@keyframes fade-in-2 {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Fade-in animation for the desserts section */
@keyframes fade-in-3 {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Fade-in animation for the order button */
@keyframes fade-in-4 {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu__entries-section {
  animation: fade-in-1 0.5s ease forwards 0.5s;
}

.menu__dishes-section {
  animation: fade-in-2 0.5s ease forwards 1s;
}

.menu__desserts-section {
  animation: fade-in-3 0.5s ease forwards 1.5s;
}

.menu__order-btn {
  animation: fade-in-4 0.5s ease forwards 2s;
}

/********************************************/
.menu__section__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 27px;
  width: auto;
}
.menu__section__header .menu__section__title {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.menu__section__header .menu__section__hr {
  height: auto;
  width: 36px;
  padding: 2px;
  border: none;
  background-color: #99e2d0;
}

.dish-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  cursor: pointer;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

.dish-card__body {
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 15px;
}
.dish-card__body .dish-card__description {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 5px;
  padding-right: 12px;
}
.dish-card__body .dish-card__description * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish-card__body .dish-card__description .dish-card__title {
  font-size: 1.125rem;
  font-weight: 500;
}
.dish-card__body .dish-card__description .dish-card__text {
  font-size: 0.938rem;
  font-weight: 300;
}
.dish-card__body .dish-card__price {
  align-self: flex-end;
  color: #353535;
  font-weight: 500;
}

.dish-card__btn.btn-selected {
  height: 100%;
  width: 0;
  padding: 0;
  cursor: pointer;
  background-color: #99e2d0;
  color: #fff;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: width 0.4s ease;
  /* Styles for the selected button icon */
}
.dish-card__btn.btn-selected .icon-selected {
  font-size: 0;
  background-color: #fff;
  border-radius: 50%;
  color: #99e2d0;
  line-height: 0.9;
  transition: opacity 0.4s ease;
  opacity: 0;
}

.dish-card__body:active + .btn-selected,
.dish-card__body:hover + .btn-selected {
  height: 100%;
  width: 59px;
  transition: width 0.4s ease;
}
.dish-card__body:active + .btn-selected .icon-selected,
.dish-card__body:hover + .btn-selected .icon-selected {
  opacity: 1;
  transition: opacity 0.4s ease;
  font-size: 20px;
}

.btn-selected:active {
  height: 100%;
  width: 0;
}
.btn-selected:active .icon-selected {
  opacity: 0;
  font-size: 0px;
}

.btn-selected:hover {
  height: 100%;
  width: 59px;
}
.btn-selected:hover .icon-selected {
  opacity: 1;
  font-size: 20px;
}

/*# sourceMappingURL=mains.css.map */
