@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-bottom: 27px;
  background: linear-gradient(355deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 25px;
}
.btn.btn-large {
  width: 218px;
}
.btn.btn-medium {
  width: 186px;
}
.btn a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.favorites-icons {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 100%;
}
.favorites-icons > * {
  font-size: 21px;
}
.favorites-icons .empty-heart {
  position: relative;
}
.favorites-icons .full-heart {
  position: absolute;
  background: linear-gradient(to bottom, #9356dc -5.2%, #ff79da 110.74%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}
html body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  width: 100%;
  color: #000;
  overflow-x: hidden;
}

main {
  font-family: "Roboto", sans-serif;
}
main section {
  width: 100%;
}

h1 {
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  position: relative;
}
header .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header .logo-container .logo {
  font-family: "Shrikhand", cursive;
  font-size: "Shrikhand", cursive;
}
header .location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #353535;
  background-color: #eaeaea;
}
header .back-arrow {
  position: absolute;
  left: 17px;
  width: 30px;
  color: #353535;
}
header .back-arrow i {
  font-size: 25px;
}

footer {
  padding: 22px 25px;
  background-color: #353535;
  color: #fff;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-size: 1.125rem;
  font-weight: 500;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
}
footer ul li a {
  display: flex;
  gap: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
footer ul li a i {
  display: flex;
  width: 11.918px;
  height: 13px;
  font-size: 0.875rem;
}

.app-introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  background-color: #f6f6f6;
}
.app-introduction h2 {
  padding: 12px 24px;
  font-size: 1.5rem;
}
.app-introduction p {
  font-size: 1.125rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.app-steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 48px 20px 68px 20px;
}
.app-steps ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0;
  list-style: none;
}

.step {
  position: relative;
  display: flex;
  align-items: center;
  height: 73px;
  margin-left: 12px;
  padding: 24px 36px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.step span {
  position: absolute;
  left: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 0.875rem;
  background-color: #9356dc;
  border-radius: 50%;
  color: #fff;
}
.step .step-content {
  display: flex;
  gap: 25px;
  height: 100%;
  align-items: center;
}
.step .step-content i {
  align-self: flex-start;
  line-height: 1.15;
  font-size: 1.125rem;
  color: #7e7e7e;
}
.step .step-content p {
  font-weight: 500;
}

.app-restaurants {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 48px 20px 68px 20px;
  background: #f6f6f6;
}
.app-restaurants .restaurants-card-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.restaurant-card a {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #fff;
}

.card-img {
  position: relative;
  height: 170px;
  background-color: #eaeaea;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}
.card-img img {
  object-fit: cover;
  object-position: bottom;
  height: 100%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-img span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 29px;
  top: 12px;
  right: 12px;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  gap: 5px;
}

.card-header {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  gap: 5px;
}
.card-header h3 {
  font-size: 1.125rem;
}
.card-header p {
  font-size: 1.063rem;
}

.menu {
  font-family: "Roboto", sans-serif;
}
.menu form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.menu form section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-img-container {
  width: 100%;
  height: 60vh;
  background-color: #eaeaea;
  background-size: cover;
  background-position: center;
}
.menu-img-container img {
  display: none;
}

.img-la-palette-du-gout {
  background-image: url("../pictures/restaurants/la-palette-du-gout.jpg");
}

.img-le-delice-des-sens {
  background-image: url("../pictures/restaurants/le-delice-des-sens.jpg");
}

.img-la-note-enchantee {
  background-image: url("../pictures/restaurants/la-note-enchantee.jpg");
}

.img-a-la-francaise {
  background-image: url("../pictures/restaurants/a-la-francaise.jpg");
}

.menu-body {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -58px;
  padding: 13px;
  background-color: #f6f6f6;
  border-radius: 40px;
}
.menu-body .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 19px;
}
.menu-body .header .title {
  text-align: center;
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
}

.container-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 27px;
}
.container-header .container-title {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
.container-header hr {
  width: 36px;
  padding: 2px;
  border: none;
  background-color: #99e2d0;
}

.dish-card {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  padding: 15px 0 15px 15px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.dish-card .card-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 5px;
  padding-right: 12px;
}
.dish-card .card-description * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish-card .card-description h3 {
  font-size: 1.125rem;
  font-weight: 500;
}
.dish-card .card-description p {
  font-size: 0.938rem;
  font-weight: 300;
}
.dish-card .card-price {
  align-self: flex-end;
  color: #353535;
  font-weight: 500;
}
.dish-card input[type=checkbox] {
  opacity: 0;
  width: 15px;
}
.dish-card .selected-btn {
  position: absolute;
  opacity: 0;
  right: -59px;
  width: 59px;
  height: 100%;
  background-color: #99e2d0;
  color: #fff;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.dish-card input[type=checkbox]:checked + .selected-btn {
  opacity: 1;
  transform: translate(-58px, 0px);
}
.dish-card input[type=checkbox]:checked {
  margin-left: 60px;
}
.dish-card input[type=checkbox] + .selected-btn:focus {
  opacity: 0;
  transform: translate(58px, 0px);
}

/*# sourceMappingURL=styles.css.map */
