// home.scss (Page d'accueil)

// Import typography file
@import "../base/typography";

// Import variables file
@import "../utils/variables";

// Import mixins file
@import "../utils/mixins";

//**************************

.app-introduction {
  @include center-element;
  flex-direction: column;
  padding: $p-1;
  text-align: center;
  background-color: $grey-bg;

  @media screen and (min-width: 1024px) {
    gap: 18px;
    padding: $p-section-l;
  }

  .app-introduction__title {
    font-size: $h1-font-size;
    padding: 12px 24px;

    @media screen and (min-width: 768px) {
      font-size: $h1-font-size-tablet;
    }

    @media screen and (min-width: 1024px) {
      font-size: $h1-font-size-desktop;
      padding: 0;
      margin-bottom: $m-3;
      line-height: 1.25;
    }
  }

  .app-introduction__text {
    font-size: $l-font-size;
    font-weight: $thin-font-weight;
    margin-bottom: $m-1;

    @media screen and (min-width: 1024px) {
      margin-bottom: $m-3;
    }
  }
}

.app-steps {
  @include column;
  gap: $gap-2;
  padding: $p-section-s;
  background-color: $base-color;

  @media screen and (min-width: 768px) {
    @include center-element;
    padding: $p-section-m;
  }
  @media screen and (min-width: 1024px) {
    align-items: flex-start;
  }
  @media screen and (min-width: 1440px) and (max-width: 2560px) {
    padding: 50px 180px;
  }

  .app-steps__steps-container {
    @include column;
    gap: $gap-2;
    padding: 0;
    list-style: none;

    @media screen and (min-width: 768px) {
      width: 100%;
    }
    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }
}

// relative and absolute position to put the element "number" on the step card
.steps-container__step.step {
  position: relative;
  display: flex;
  align-items: center;
  height: 73px;
  margin-left: 12px;
  padding: 24px 36px;
  border-radius: $border-radius-m;
  background: $base-color;
  @include box-shadow-card;

  @media screen and (min-width: 1440px) and (max-width: 2560px) {
    text-wrap: nowrap;
  }

  // element "number"
  .step__number {
    position: absolute;
    left: -12px;
    @include center-element;
    width: 24px;
    height: 24px;
    font-size: $xs-font-size;
    background-color: $primary;
    border-radius: 50%;
    color: $base-color;
  }

  .step__content {
    display: flex;
    gap: $gap-2;
    height: 100%;
    align-items: center;

    .step__content__icon {
      align-self: flex-start;
      line-height: 1.15;
      font-size: $l-font-size;
      color: $grey-3;

      &:active {
        color: $primary;
      }

      @media screen and (min-width: 1024px) {
        &:hover {
          color: $primary;
        }
      }
    }

    .step__content__text {
      font-weight: 500;
    }
  }
}

.app-restaurants {
  @include column;
  gap: $gap-2;
  padding: $p-section-s;
  background: $grey-bg;

  @media screen and (min-width: 768px) {
    padding: $p-section-m;
    align-items: center;
    gap: 28px;
  }
  @media screen and (min-width: 1024px) {
    align-items: flex-start;
  }

  @media screen and (min-width: 1440px) and (max-width: 2560px) {
    padding: $p-section-l;
  }

  .restaurants-card__container {
    @include column;
    gap: $gap-3;

    @media screen and (min-width: 768px) {
      width: 80%;
      gap: 34px;
    }

    @media screen and (min-width: 1024px) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px;
      width: 100%;
      justify-content: space-between;
    }
  }

  .restaurant-card {
    @include column;
    @include box-shadow-card;
    border-radius: $border-radius-s;

    @media screen and (min-width: 1024px) {
      // adjustment of restaurants card size in % with padding included
      width: calc(50% - 50px);
    }

    @media screen and (min-width: 1440px) and (max-width: 2560px) {
      // switching to px to give a final size
      width: 490px;
    }

    a {
      @include column;
      border-radius: $border-radius-s;
      background-color: $base-color;
    }
  }
}

// relative and absolute position to put the card "Nouveau" on the restaurant card
.card__img {
  position: relative;
  height: 170px;
  background-color: $grey-2;
  border-top-left-radius: $border-radius-s;
  border-top-right-radius: $border-radius-s;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    height: 200px;
  }

  @media screen and (min-width: 1440px) and (max-width: 2560px) {
    height: 231px;
  }

  // image adaptation in relation to its parent while preserving its ratio with object-fit: cover
  img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border-top-left-radius: $border-radius-s;
    border-top-right-radius: $border-radius-s;
  }

  // span "Nouveau"
  .card__img__badge {
    position: absolute;
    @include center-element;
    width: 80px;
    height: 29px;
    top: 12px;
    right: 12px;
    font-weight: 500;
    background-color: $tertiary;
    color: $green-font;
    border-radius: 2px;
  }
}

.card__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $p-3;
  gap: $gap-8;

  .card__body__header {
    @include column;
    height: 100%;
    width: 80%;
    gap: $gap-8;
    h3 {
      font-size: $h3-font-size;
    }
    p {
      font-size: $m-font-size;
    }
  }
}
