// home.scss (Page d'accueil)

// Import typography file
@import "../base/typography";

// Import variables file
@import "../utils/variables";

// Import mixins file
@import "../utils/mixins";

//**************************

.app-introduction {
  @include center-element;
  flex-direction: column;
  padding: $p-1;
  text-align: center;
  background-color: $grey-bg;

  @include media-query(1024px) {
    gap: 18px;
    padding: $p-section-l;
  }

  .app-introduction__title {
    font-size: $h1-font-size;
    padding: 12px 24px;

    @include media-query(768px) {
      font-size: $h1-font-size-tablet;
    }

    @include media-query(1024px) {
      font-size: $h1-font-size-desktop;
      padding: 0;
      margin-bottom: $m-3;
      line-height: 1.25;
    }
  }

  .app-introduction__text {
    font-size: $l-font-size;
    font-weight: $thin-font-weight;
    margin-bottom: $m-1;

    @include media-query(1024px) {
      margin-bottom: $m-3;
    }
  }
}

.app-steps {
  @include column;
  gap: $gap-2;
  padding: $p-section-s;
  background-color: $base-color;

  @include media-query(768px) {
    @include center-element;
    padding: $p-section-m;
  }
  @include media-query(1024px) {
    align-items: flex-start;
  }
  @include media-queries(1440px, 2560px) {
    padding: 50px 180px;
  }

  .app-steps__steps-container {
    @include column;
    gap: $gap-2;
    padding: 0;
    list-style: none;

    @include media-query(768px) {
      @include dimensions(auto, 100%);
    }
    @include media-query(1024px) {
      flex-direction: row;
    }
  }
}

// relative and absolute position to put .step__number on the step card
.step {
  position: relative;
  display: flex;
  align-items: center;
  @include dimensions(73px, auto);
  margin-left: 12px;
  padding: 24px 36px;
  cursor: pointer;
  border-radius: $border-radius-m;
  background: $base-color;
  @include box-shadow-card;

  @include media-queries(1440px, 2560px) {
    text-wrap: nowrap;
  }

  .step__number {
    position: absolute;
    left: -12px;
    @include center-element;
    @include dimensions(24px, 24px);
    font-size: $xs-font-size;
    background-color: $primary;
    border-radius: 50%;
    color: $base-color;
  }

  .step__content {
    display: flex;
    gap: $gap-2;
    @include dimensions(100%, auto);
    align-items: center;

    .step__content__icon {
      align-self: flex-start;
      line-height: 1.15;
      font-size: $l-font-size;
      color: $grey-3;
      // smooth color transition to change from purple to grey
      @include icons-color-transition(color);
    }

    .step__content__text {
      font-weight: 500;
    }
  }
}

// Change the color of the icon when the step is active or hovered
.step:active .step__content__icon,
.step:hover .step__content__icon {
  color: $primary;
  // smooth color transition to change from grey to purple
  @include icons-color-transition(color);
}

.app-restaurants {
  @include column;
  gap: $gap-2;
  padding: $p-section-s;
  background: $grey-bg;

  @include media-query(768px) {
    padding: $p-section-m;
    align-items: center;
    gap: 28px;
  }
  @include media-query(1024px) {
    align-items: flex-start;
  }

  @include media-queries(1440px, 2560px) {
    padding: $p-section-l;
  }

  .restaurants-card__container {
    @include column;
    gap: $gap-3;

    @include media-query(768px) {
      width: 80%;
      gap: 34px;
    }

    @include media-query(1024px) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 50px;
      @include dimensions(auto, 100%);
      justify-content: space-between;
    }
  }

  .restaurant-card {
    @include column;
    @include box-shadow-card;
    border-radius: $border-radius-s;

    @include media-query(1024px) {
      // adjustment of restaurants card size in % with padding included
      @include dimensions(auto, calc(50% - 50px));
    }

    @include media-queries(1440px, 2560px) {
      // switching to px to give a final size
      @include dimensions(auto, 490px);
    }

    a {
      @include column;
      border-radius: $border-radius-s;
      background-color: $base-color;
    }
  }
}

// relative and absolute position to put the card "Nouveau" on the restaurant card
.card__img {
  position: relative;
  @include dimensions(170px, auto);
  background-color: $grey-2;
  border-top-left-radius: $border-radius-s;
  border-top-right-radius: $border-radius-s;
  overflow: hidden;

  @include media-query(768px) {
    @include dimensions(200px, auto);
  }

  @include media-queries(1440px, 2560px) {
    @include dimensions(231px, auto);
  }

  // image adaptation in relation to its parent while preserving its ratio with object-fit: cover
  img {
    object-fit: cover;
    object-position: center;
    @include dimensions(100%, 100%);
    border-top-left-radius: $border-radius-s;
    border-top-right-radius: $border-radius-s;
  }

  // span "Nouveau"
  .card__img__badge {
    position: absolute;
    @include center-element;
    @include dimensions(29px, 80px);
    top: 12px;
    right: 12px;
    font-weight: 500;
    background-color: $tertiary;
    color: $green-font;
    border-radius: 2px;
  }
}

.card__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include dimensions(auto, 100%);
  padding: $p-3;
  gap: $gap-8;

  .card__body__header {
    @include column;
    @include dimensions(100%, 80%);
    gap: $gap-8;
    h3 {
      font-size: $h3-font-size;
    }
    p {
      font-size: $m-font-size;
    }
  }
}
