// menu.scss

// Import typography file
@import "../base/typography";

// Import variables file
@import "../utils/variables";

// Import mixins file
@import "../utils/mixins";

.menu {
  @include column;
  align-items: center;
  font-family: $base-font-family;
  background-color: $base-color;
}

// Restaurant photo adjustment in background
.menu__img {
  @include dimensions(60vh, 100%);
  background-color: $grey-2;
  background-size: cover;
  background-position: center;

  @include media-queries(1440px, 2560px) {
    @include dimensions(490px, 100%);
  }

  // Hiding the original image
  img {
    display: none;
  }
}

// Replacement by the image placed in the background of the page content
.img-la-palette-du-gout {
  background-image: url("../pictures/restaurants/la-palette-du-gout.jpg");
}

.img-le-delice-des-sens {
  background-image: url("../pictures/restaurants/le-delice-des-sens.jpg");
}

.img-la-note-enchantee {
  background-image: url("../pictures/restaurants/la-note-enchantee.jpg");
}

.img-a-la-francaise {
  background-image: url("../pictures/restaurants/a-la-francaise.jpg");
}

.menu__body {
  @include column;
  @include dimensions(auto, 100%);
  gap: $gap-1;
  margin-top: -40px;
  background-color: $grey-bg;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  @include media-queries(1440px, 2560px) {
    @include dimensions(auto, 75%);
  }
}

.menu__header {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  padding: 19px 17px 0 17px;

  @include media-query(768px) {
    justify-content: center;
    gap: 24px;
  }

  @include media-query(1024px) {
    padding: 0;
    padding-top: 51px;
  }

  .menu__title {
    text-align: center;
    font-family: $title-font-family;
    font-size: $h1-menu-font-size;
  }
  .menu__icons {
    @include media-query(768px) {
      @include dimensions(auto, auto);
    }
  }
}

.menu__content {
  @include column;
  align-items: center;
  gap: $gap-1;
  padding: $p-4;

  @include media-query(768px) {
    padding: 0 150px;
  }

  @include media-queries(1440px, 2560px) {
    padding: 0 220px;
  }

  /******************************************/
  .menu__section {
    @include column;
    gap: $gap-6;
  }
}

// Application of fade-in animation to the different parts of menu__content
.menu__entries-section {
  @include fade-in($delay: 1.5s);
}
.menu__dishes-section {
  @include fade-in($delay: 2s);
}
.menu__desserts-section {
  @include fade-in($delay: 2.5s);
}
.menu__order-btn {
  @include fade-in($delay: 3s);
}

/********************************************/

.menu__section__header {
  @include column;
  justify-content: space-between;
  @include dimensions(27px, auto);

  .menu__section__title {
    font-size: $base-font-size;
    font-weight: $thin-font-weight;
    text-transform: uppercase;
  }

  // section title underline
  .menu__section__hr {
    @include dimensions(auto, 36px);
    padding: 2px;
    border: none;
    background-color: $tertiary;
  }
}

.dish-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include dimensions(72px, 100%);
  cursor: pointer;
  background: $base-color;
  border-radius: $border-radius-s;
  @include box-shadow-card;
  overflow: hidden;
}

.dish-card__body {
  display: flex;
  flex: 1;
  padding: 15px;
  @include ellipsis;

  // Mixin to crop the long card texts in excluing .dish-card__price
  *:not(.dish-card__price) {
    @include ellipsis;
  }

  .dish-card__description {
    @include column;
    @include dimensions(auto, 100%);
    gap: $gap-8;
    padding-right: 12px;

    .dish-card__title {
      font-size: $h3-font-size;
      font-weight: $medium-font-weight;
    }

    .dish-card__text {
      font-size: $s-font-size;
      font-weight: $thin-font-weight;
    }
  }

  .dish-card__price {
    align-self: flex-end;
    color: $grey-1;
    font-weight: $medium-font-weight;
  }
}

// Define transition values in variables
$transition-duration: 0.3s;
$transition-ease: ease;

// Basic style for the invisibility of the selected button (height: 100%, width: 0px) and its icon (font-size: 0, opacity: 0)
.dish-card__btn.btn-selected {
  padding: 0;
  cursor: pointer;
  background-color: $tertiary;
  color: $base-color;
  border: none;
  border-top-right-radius: $border-radius-m;
  border-bottom-right-radius: $border-radius-m;

  // Use transition variables
  transition: width $transition-duration $transition-ease;

  @include dimensions(100%, 0);

  .icon-selected {
    font-size: 0;
    width: 0;
    background-color: $base-color;
    border-radius: 50%;
    color: $tertiary;
    line-height: 0.9;
    opacity: 0;

    // Use transition variables
    transition: opacity $transition-duration $transition-ease;
  }
}

// Specific style for the selected button and its icon when a user interacts with the dish card
.dish-card__body {
  &:active + .btn-selected,
  &:hover + .btn-selected {
    transition: width $transition-duration $transition-ease;

    // Expand button width
    @include dimensions(100%, 59px);

    .icon-selected {
      // Icon visibility
      opacity: 1;
      transition: opacity $transition-duration $transition-ease;
      // Increase icon size
      font-size: 20px;
      width: 19px;
      height: 17px;
    }
  }
}

// Same style and effect when the button is hovered
.btn-selected:hover {
  @include dimensions(100%, 59px);

  .icon-selected {
    opacity: 1;
    transition: opacity $transition-duration $transition-ease;
    font-size: 20px;
    width: 19px;
    height: 17px;
  }
}
